body {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(151, 244, 255, 1) 0%, rgba(94, 103, 255, 1) 85%, rgba(42, 48, 255, 1) 100%);
    color: black;
}
.header {
    background: rgba(255, 255, 255, 0.85);
}

.promo {
    background: rgba(255, 255, 255, 0.6);
}
.promo-text {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
.pros, .cons {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
.pros li::marker {
    content: '+  ';
    font-size: small;
}
.cons li::marker {
    content: '-  ';
    font-size: small;
}

footer {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px 20px 0 0;
}